a {
    text-decoration: none;
    color: black;
}
.events {
    display: flex;
    width: 20%;
    flex-direction: column;
    list-style: none;
}
li {
    flex: 1;
    border-radius: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px 5px;
}